/* CSS declarations go here */
canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    top: 0;
    left :0;
}
.colombiaMap{
    position: absolute;
    top: 0;
    left :0;
}
div #results{
    width: 600px;
    height: 500px;
    overflow-y: auto;
}